    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    div {
        margin-bottom: 50px;
    }

    button {
        margin: 0 10px;
    }